<aside class="aside-menu">
    <div class="aside-hamburger"><div class="hamburger-icon"><img src="../../assets/hamburger-menu.png"></div></div>
    <div class="aside-button green-button"><img src="../../assets/icons8-home.svg" class="aside-icon"><span>Página Inicial</span></div>
    <div class="aside-button"><img src="../../assets/icons8-plus-24.png" class="aside-icon"><span>Cadastro</span></div>
    <div class="aside-button"><img src="../../assets/icons8-gear.svg" class="aside-icon"><span>Configuração</span></div>
    <div class="aside-button"><img src="../../assets/icons8-home-grey.svg" class="aside-icon"><span>Movimentação</span></div>
    <div class="aside-button"><img src="../../assets/icons8-page.svg" class="aside-icon"><span>Relatórios</span></div>
    <div class="aside-button red-text"><img src="../../assets/icons8-exit-16.png" class="aside-icon"><span>Sair do Sistema</span></div>
</aside>
