$green-1: #233329;
$green-2: #264734;
$green-3: #0c3723;
$green-4: #078244;
$grey-1: #1e1e1e;
$grey-2: #232323;
$grey-3: #303030;
$grey-4: #3a3a3a;
$grey-5: #909090;
$white-fixed: #ffffff;
$red-1: #b32e25;